body{
  background-color:azure;
  width:65%;
  margin: auto;
}

p {
  font-family: monospace;
  color: black;
}
h1,h3 {
  font-family:monospace;
  text-align: center;
  font-weight: bold;
  color:black;
}
  
img{
  width:10%
}
a{
  font-family:monospace;
}
img{
  border:10px groove grey;
  width:400px;

}
#diamond{
  background-color:aqua;
  color:darkblue
}
button{
  padding: 16px;
}
#Youtube{
  background-color:red;
  color:white;
  margin:auto;
  border-radius:50%
}
#yt{
  padding:370px;
}